<a href="https://colab.research.google.com/github/MuhammadRamdhan-25/modul1/blob/main/Praktikum_02_week_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
# Exercise 1 (Memperbaiki Script)
panjang=20.5
lebar=25
tinggi=10

keliling=2*(panjang+lebar)
luas=panjang/lebar
volume=panjang*lebar*tinggi

print("Panjang     =", panjang)
print("Lebar       =", lebar)
print('Tinggi      =', tinggi)
print('Keliling    =', keliling)
print('Luas        =', luas)
print('Volume      =', volume)

Panjang     = 20.5
Lebar       = 25
Tinggi      = 10
Keliling    = 91.0
Luas        = 0.82
Volume      = 5125.0

In [43]:
# Exercise 2 (Menampilkan Data Tabel)
S = 85+75
print('1.Rata-rata nilai Shafira    =', S/2)
HA = 75+90+70+75
print('2.Jumlah nilai Hanif Andi    =', HA/2)
W = 85*2/2
D = 85*2/2
HI = (80+75)/2
N = (95+80)/2
print('3.Rata-rata nilai     =')
print('    a.Widya :', W)
print('    b.Dhanar :', D)
print('    c.Hikma :', HI)
print('    d.Nedia :', N)
print('4.Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa =', (85+80+75+95+85+75+70+85+80)/9)
print('Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa =', (75+90+80+80+85+90+75+85+75)/9)

1.Rata-rata nilai Shafira    = 80.0
2.Jumlah nilai Hanif Andi    = 155.0
3.Rata-rata nilai     =
    a.Widya : 85.0
    b.Dhanar : 85.0
    c.Hikma : 77.5
    d.Nedia : 87.5
4.Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa = 81.11111111111111
Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa = 81.66666666666667

In [52]:
# Exercise 3 (Menampilkan Data Gaji)
Gaji_perjam = 30000
Jam_kerja_perhari = 8
Hari_kerja_sebulan = 25

Gaji_bulanan = Gaji_perjam*Jam_kerja_perhari*Hari_kerja_sebulan
Gaji_bulanan_tidak_masuk=Gaji_perjam*Jam_kerja_perhari*(Hari_kerja_bulanan-3)

tunjangan= Gaji_bulanan*0.1

upah_lembur=10000
jam_lembur= 5
Gaji_bulanan_lembur=upah_lembur*jam_lembur

print('Gaji bulanan Dwi =', Gaji_bulanan)
print('Gaji bulanan tidak masuk Dwi selama 3 hari =', Gaji_bulanan_tidak_masuk)
print('Tunjangan Dwi =', tunjangan)
print('Gaji total Dwi jika lembur selama 5 jam =', Gaji_bulanan + Gaji_bulanan_lembur)

Gaji bulanan Dwi = 6000000
Gaji bulanan tidak masuk Dwi selama 3 hari = 6480000
Tunjangan Dwi = 600000.0
Gaji total Dwi jika lembur selama 5 jam = 6050000